
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Cat, dog classifier</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Slot Coming Soon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="static\css\style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="static\css\font-awesome.min.css" type="text/css" media="all">

</head>

<body>
        <div id="block" class="w3lvide-content" data-vide-bg="static\images\slot.mp4" data-vide-options="position: 0% 50%">
            <h1 style="margin:auto; color: #fff; margin-bottom: 50px; margin-top:10 px">Cat, Dog classifier</h1>
            <div class="wrapper">
                <div class="workinghny-form-grid">
                    <!-- /form -->
                    <div class="main-hotair">
                        <div class="content-wthree">
                            <p style="color: #333; text-align: center; font-size: 40px;">It's a <strong>{{ss}}</strong></p>  
                            <div class="social-login">
                                <a href="https://www.facebook.com/sam.goda.71/">

                                    <span class="fa fa-facebook" aria-hidden="true"></span>


                                </a>
                                <a href="#twiter">

                                    <span class="fa fa-twitter" aria-hidden="true"></span>

                                </a>
                                <a href="#google">

                                    <span class="fa fa-google-plus" aria-hidden="true"></span>

                                </a>

                                <a href="#insta">

                                    <span class="fa fa-pinterest" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- //form -->
                </div>
            <!-- copyright-->
            <div class="copyright text-center">
                <p class="copy-footer-29">© 2022. All rights reserved <a
                        href="https://www.facebook.com/sam.goda.71/">Mahmoud Gooda</a></p>
            </div>
            <!-- //copyright-->
            </div>
        </div>
    <!-- //form section start -->
    <!-- js -->
    <script src="static\js\jquery.min.js"></script>
    <!-- //js -->
    <script src="static\js\jquery.vide.js"></script>
    <script>
        //    $(document).ready(function () {
        //        $("#block").vide("video/ocean"); // Non declarative initialization
        //
        //        var instance = $("#block").data("vide"); // Get instance
        //        var video = instance.getVideoObject(); // Get video object
        //        instance.destroy(); // Destroy instance
        //    });
    </script>
</body>

</html>